name: "Update 3rd-Party Lists"

on:
  #schedule:
    #- cron: "0 * * * *"

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  sync-files:
    name: "Run sync"
    runs-on: ubuntu-22.04
    steps:
      - name: "Checkout source repository"
        uses: actions/checkout@v4

      - name: "Run lister"
        run: |
          DATABASES=$(ls -d */ | tr '/' ' ' | xargs)
          for db in $DATABASES; do
             if ! grep -i -A 1 "^# $db$" ./am-extras | tail -1 | grep -q "^#export"; then
                cd "$db" || exit 1
                echo "◆ Updating \"$db\" lists"
                [ ! -x ./lister.sh ] && chmod a+x ./lister.sh
                ./lister.sh 2>/dev/null
                cd ..
             fi
          done

#      - name: "Update local descriptions"
#        run: |
#          echo "◆ Updating local descriptions"
#          [ ! -x ./descriptions-gen.sh ] && chmod a+x ./descriptions-gen.sh
#          ./descriptions-gen.sh

      - name: "Push to Source"
        run: |
          git config --global user.name "ivan-hc"
          git config --global user.email "noreply@github.com"
          git add */*.md */*.sh descriptions*
          if git diff-index --quiet HEAD; then
            echo "No changes to commit." >> $GITHUB_STEP_SUMMARY
          else
            git commit -m "Sync files from source repository"
            git push && echo "Sync to Source succeeded" >> $GITHUB_STEP_SUMMARY
          fi
